body {
    background: linear-gradient(#4AC29A, #BDFFF3) no-repeat center center fixed;
    color: black ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 340;
    width: 510;
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 1px solid black;
    padding: 0 10rem;
    margin: 2rem 0;
}

.button {
    border: 1px solid black;
    padding:0 10rem;
    margin-bottom: 10px;
    border-radius: 10rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: black;
    color: white;
    transition: .25s;
    cursor: pointer;
}